{% extends 'base.html' %}
{% block title %}<title>Tracks</title>{% endblock%}
{% block content %}
<h1 class="text-center my-5">Search for your favorites tracks !</h1>
<div class="d-flex justify-content-around">
    <form class="form d-flex justify-content-center my-5 h-50 w-25">
        <input type="text" class="form-control" name="artist-nm" placeholder="Enter your track title">
        <button class="btn btn-dark" type="submit"><i class="bi bi-search fs-5"></i></button>
    </form>
    <div class="top-artist my-5">
        <h5>🎧 Most famous tracks</h5>
        <table class="table">
            <thead>
                <th><i class="bi bi-bookmark-heart-fill fs-5"></i></th>
                <th>Track's title</th>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Gogo</td>
                </tr>
                <tr>
                    <th>1</th>
                    <td>Gogo</td>
                </tr>
                <tr>
                    <th>1</th>
                    <td>Gogo</td>
                </tr>
                <tr>
                    <th>1</th>
                    <td>Gogo</td>
                </tr>
                <tr>
                    <th>1</th>
                    <td>Gogo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}