:root{
    --purple : #7d83ff;
    --dark-purple : #3f4280;
    --green: #519e8a;
}
body{
    position:absolute;
    height: 100vh;
    min-width: 100%;
}
nav div div div a{
    position: relative;
}
nav div div div a:after{
    content: '';
    position: absolute;
    background-color: var(--purple);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;
}
nav div div div a:hover:after{
    width: 100%;
}
.main{
    overflow: hidden;
}
.hero{
    animation: slideIn 1.8s ease-in-out forwards;
}
.btn:hover{
    background-color: var(--purple);
    border:none;
}
.link{
    color: black;
}
.link:hover{
    color: var(--purple);
}
.footer{
    bottom: 0;
    min-width: 100%;
}
.footer a {
    position: relative;
}
.footer a:after{
    content: '';
    position: absolute;
    background-color: var(--purple);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: .3s;
}
.footer a:hover:after{
    width: 100%;
}
/*
CSS ANIMATIONS
*/

@keyframes slideIn{
    0%{
        transform: translateX(-800px);
    }
    100%{
        transform: translateX(0px);
    }
}