:root{
    --purple : #7d83ff;
    --pink : #f61067;
}
html{
    background-image: linear-gradient(to right top, #290537, #572357, #884479, #bb689a, #f18ebb);
    overflow-y: scroll;
}
body{
    position:absolute;
    height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(to right top, #290537, #572357, #884479, #bb689a, #f18ebb);
    overflow-y: scroll;
}
nav div div div a{
    position: relative;
}
nav div div div a:after{
    content: '';
    position: absolute;
    background-color: var(--purple);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;
}
nav div div div a:hover:after{
    width: 100%;
}
nav div div div a i{
    color: var(--pink);
}
.transition-fade{
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}
html.is-animating .transition-fade{
    opacity: 1;
    transform: translateX(100%);
}
html.is-leaving .transition-fade{
    opacity: 0;
    transform:translateX(0);
}
.transition-swipe{
    transition: 800ms;
    transform: translateY(0);
}
html.is-animating .transition-swipe{
    transform: translateY(100px);
}
.uncheck{
    background-color: var(--pink);
}
.check{
    background-color: var(--purple);
}
.main{
    overflow: hidden;
}
.hero{
    animation: slideIn 1.8s ease-in-out forwards;
}
h1,p{
    color: var(--purple);
    text-shadow: 3px 5px 2px #474747, 2px 2px 2px rgba(206,89,55,0);
}
.btn:hover{
    background-color: var(--pink);
    border:none;
}
.link{
    color: black;
}
.link:hover{
    color: var(--pink);
}
.footer{
    position: fixed;
    bottom: 0;
    overflow-y: scroll;
    min-width: 100%;
    margin-top: 10rem;
}
.footer a {
    position: relative;
}
.footer a:after{
    content: '';
    position: absolute;
    background-color: var(--purple);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: .3s;
}
.footer a:hover:after{
    width: 100%;
}
.artist-card-1, .artist-card-2, .artist-card-3{
    width:18rem;
}
.artist-card-1{
    animation: slideIn 1.5s ease-in-out forwards;
}
.artist-card-2{
    animation: slideUp 1.5s ease-in-out forwards;
}
.artist-card-3{
    animation: slideIn2 1.5s ease-in-out forwards;
}
/*
CSS ANIMATIONS
*/

@keyframes slideIn{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes slideIn2{
    0%{
        transform:translateX(1000px);
    }
    100%{
        transform:translate(0px)
    }
}
@keyframes slideUp{
    0%{
        transform: translateY(1000px);
    }
    100%{
        transform: translateY(0px);
    }
}